* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  
}
body > div {
  /* margin: 5% auto 0; */
  max-width: 100%;
  max-height: 100%;
  margin: 20px 150px;
}


.tabs {
  display: flex;
  position: relative;
  
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 15px;
  background-color: #665f61;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 14px 20px 11px 20px;
  font-size: 16px;
  text-align: center;
  color: #131212;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
/* .tab-icon {
  font-size: 24px;
  width: 14px;
  position: relative;
  top: 2px;
  padding-right: 35px;
} */
.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
  width: 100%;
}
.tab-pane {
  color: #333;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;

}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}


/*phát sinh thêm*/
.tab-pane .hopbox {
  width: 100%;
  height: 500px;
  background: red;
}

.tab-pane .hopbox.hopbox1{
  background: green;
}